*{
    padding: 0;
    margin: 0;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #484848;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 100;
}

nav{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #484848;
    height: 2.125rem;
    width: 100%;
}

#searchtop, h3{
    width:100%;
    padding: 0px 140px 0px 0px;
    background-color: transparent;
    border: none;
    display: inline;
}

#logo img{
    width: 69px;
    height: 69px;
    background-color: rgb(230, 0, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

section:first-child{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#lupa{
    width: 18px;
    height: 18px;
    margin: 0px;
    display: inline-flex;
    position: relative;
    justify-content: left;
}

#dropCategories{
    display: inline;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px 2px 0px 0px;
}

.topRightItems{
    display: flex;
    align-items: center;
    gap: 2.75rem;
    padding: 0px 20px 0px 20px;
}

.linksignup{
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0px;
    border: none;
    background-color: transparent;
}

.topRightItems a{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background-color: transparent;
    }

/* h3:hover, select:hover, span:hover, path:hover{
    color: rgb(230, 0, 18);
} */
.buttonLinkSupport:hover svg {
    fill: rgb(230, 0, 18);
}
#flag{
    display: block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 15px;
    padding: 0px 8px 0px 0px;
}

.topDownItems{
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    gap: 0.5rem;
    padding: 2px 0px 0px 0px;

}

.svg{
    margin:0;
    padding: 0px 3px 0px 0px;
    display: relative;
}

.dropNintendo{
    position: relative;
    padding: 0.75rem;
}

.dropdownstore{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownholiday{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}

.dropdowngames{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}
.dropdownswitch{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownnews{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}

.dropdownplay{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    padding: 30px;
    transition: all 200ms ease-in-out 0s;
}

svg{
    padding: 0px 4px 0px 4px;
}

