body {
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(67, 67, 67);
}

.OnlineStore {
    display: flex;
    justify-content: center;
}

.MyNintendoStoreDesktopImage {
    border-radius: 8px;
}

.StartShoppingButton {
    display: flex;
    border-radius: 8px;
    background-color: #E60012;
    justify-content: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.GamingSystems {
    display: flex;
    justify-content: center;
}