*{
    padding: 0;
    margin: 0;
    color: #484848;
    line-height: 1.4;
    font-size: 14px;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 700;
    cursor: pointer;
}

nav{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000; 
}

.topDownItems svg {
    padding-left: 4px;
    padding-right: 4px;
}

.topDownItems{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    gap: 0.5rem;
    padding: 2px 0px 0px 0px;
} 

.svg{
    margin:0;
    padding: 0px 3px 0px 0px;
    display: relative;
}

.bottomstyle{
    display: inline-flex;
    position: relative;
    padding: 0.75rem;
    padding-right: 40px;
    gap: 0.75rem;
}

.dropNintendo{
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 12px;
}

.dropdownstore {
    border: none;
    background: transparent;
}

.dropdowngames{
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 12px;
}
.dropdownswitch{
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 12px;
}

.dropdownnews{
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 12px;
}

.dropdownplay{
    display: inline-flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 12px;
}

.dropdownstore:hover span {
    color: rgb(230, 0, 18);
}

.dropdownstore:hover svg path {
    fill: rgb(230, 0, 18);
}

.dropdownholiday:hover span {
    color: rgb(230, 0, 18);
}

.dropdownholiday:hover svg path {
    fill: rgb(230, 0, 18);
}

.dropdowngames:hover span {
    color: rgb(230, 0, 18);
}

.dropdowngames:hover svg path {
    fill: rgb(230, 0, 18);
}

.dropdownswitch:hover span {
    color: rgb(230, 0, 18);
}

.dropdownswitch:hover svg path {
    fill: rgb(230, 0, 18);
}

.dropdownnews:hover span {
    color: rgb(230, 0, 18);
}

.dropdownnews:hover svg path {
    fill: rgb(230, 0, 18);
}

.dropdownplay:hover span {
    color: rgb(230, 0, 18);
}

.dropdownplay:hover svg path {
    fill: rgb(230, 0, 18);
}

.newNav {
    display: none;
}

/* Mobile Style */ 


@media (max-width: 1024px) {

    .topDownItems {
        display: none;
    }

    .newNav  {
        width: 100%;
        height: calc(58px + 1rem);
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
        position: fixed;
        bottom: 0px;
        display: block;
        z-index: 1000;
    }
    
    .mobileBottomStyle {
        margin: auto;
        height: 58px;
        width: 96%;
        max-width: 440px;
    }
    
    .bottomNav {
        position: relative;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
    }
    
    .bottomMenu {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        height: 58px;
        align-items: center;
        border: none;
        background: transparent;
    }
    
    .whishListBottom {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        height: 58px;
        align-items: center;
        border: none;
        background: transparent;
    }
    
    .searchBottom {
        width: 60px;
        height: 60px;
        background: rgb(230, 0, 18);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -1rem;
    }
    
    .searchBottom svg path {
        fill: rgb(255, 255, 255);
    }
    
    .shoppingCartBottom {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        height: 58px;
        align-items: center;
        border: none;
        background: transparent;
    }
    
    .cartContainer {
        display: grid;
        justify-content: center;
        position: relative;
        color: inherit;
        }
    
    
    .accountBottom {
        display: flex;
        justify-content: center;
        flex: 1 1 auto;
        position: relative;
        height: 58px;
        align-items: center;
        border: none;
        background: transparent;
    }
    
    
    .bottomMenu:hover svg path{
        fill: rgb(230, 0, 18);
    }
    
    .accountBottom:hover svg path{
        fill: rgb(230, 0, 18);
    }
    
    .shoppingCartBottom:hover svg path{
        fill: rgb(230, 0, 18);
    }
    
    .whishListBottom:hover svg path{
        fill: rgb(230, 0, 18);
    }
}