body{
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(72, 72, 72);
}
 a div img{
    width: 300px;
    height: 300px;
}
a h3{
    padding-left: 10px;
    padding-top: 10px;
}
a h3:after{
    content: 'TM';
    vertical-align: super;
    font-size: 12px;
}
section{
    padding-top:48 px;
    padding-bottom: 48px;
}
.personaje{

    
    width: 300px;
    height: 300px; 
    margin-bottom: 50px;
    cursor: pointer;
}
.personajes{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    overflow: visible;
    gap: 10px;
}
div{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15%;
}
section h2{
    margin-left: 15%;
}
h3{
    margin-top: 305px;
    margin-left: 2px;
}
.ay{
    position: absolute;
}
.bg{
    position: absolute;
}
.fondo{
    transform: scale(1.125);
}
a:hover .fondo{
    transform: scale(1);
    transition: 0.5s;
}
a:hover .caracter{
    transform: scale(1.125);
    transition: 0.5s;
}


