@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('fonts/MuseoSansRounded300.otf') format('opentype'),
        url('fonts/MuseoSansRounded700.otf') format('opentype');
    font-weight: normal;  
    font-style: normal;  
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Museo Sans Rounded';
    font-weight: 700;
}

.FooterHeader {
    width: 100%;
    padding: 36px;
    background-color: rgb(230, 0, 18);
}

.FooterHeaderLogos {
    display: grid;
    align-items: center;
    justify-items: right;
    grid-template-columns: auto repeat(4, 58px);
    gap: 20px;
    width: 100%;
}

.FooterHeaderLink {
    width: 300px;
    justify-self: left ;
}

#FooterNintendoLogo {
    width: 195px;
    height: 48px;
    fill: white;
    margin-right: auto;
}

.FooterRRSSIcon {
    width: 30px;
    height: 30px;
}

#FooterFacebookLogo {
    width: 42px;
    height: 42px;
}

.FooterContent {
    height: 800px;
    width: 100%;
}

.contenedorList {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    padding: 32px 16px;
    height: 85%;
}

.contenedorIcon {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
}

.FooterContent .headingFooter {
    color: #484848; 
    font-weight: bolder;
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
    margin-bottom: 10px;
}


.FooterContent .headingFooter:hover {
    border-bottom:rgb(146, 16, 27) 2.5px solid;
}

.contenedorList a:hover {
    border-bottom:rgb(146, 16, 27) 2.5px solid;
    color: rgb(146, 16, 27);
}

.FooterContentListAbout,
.FooterContentListShop,
.FooterContentListStore,
.FooterContentListSuport,
.FooterContentListParents,
.FooterContentListCommunity,
.FooterContentListPrivacy {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    border-left: lightgray 1px solid;
}

.FooterContentListAbout {
    border: none;
}

.FooterContent a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(230, 0, 18);
    margin-left: 15px;
    font-size: 16px;
    line-height: 2;
}

.FooterContentListAbout,
.FooterContentListShop, 
.FooterContentListStore,
.FooterContentListSuport{
    grid-row: auto;
}

.FooterContentList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}


.FooterContentListCommunity {
    grid-column: auto;
    grid-row: auto;
}

.FooterContentListPrivacy {
    grid-column: 5;
    grid-row: 2;
}

.contenedorIcon {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-right: 16px;
}

.FooterLegal {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    padding: 32px 16px;
    background-color: rgb(30, 30, 30);
    color: white;
    font-size: 12px;
}

.FooterLegalInfo {
    width: fit-content;
    margin-left: 8%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    grid-column: 1;
}

.FooterLegalLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    grid-column: 2;
    text-wrap: nowrap;
    white-space: nowrap;
}

.FooterLegalLinks a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.FooterLanguageSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3;
}

.FooterLanguageSelection a{
    font-weight: bold;
    text-decoration: none;
    text-wrap: nowrap;
    white-space: nowrap;
    color: white;
    border: 2px solid transparent;
    transition: border-bottom 0.2s;
}

#FooterLanguageSelectionUSA {
    width: 24px;
    height: 15px;
    border-radius: 5px;
    margin-right: 10px;
    border: white 0.5px solid
}

.FooterLegalLinks a:hover {
    border-bottom: solid 2px rgb(230, 0, 18);
}

.lang:hover {
    border-bottom: white 2px solid;
}

@media (max-width: 1024px) {

    .contenedorList {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* FOOTER LEGAL MEDIA QUERIES */

@media screen and (max-width: 1025px) {
    .FooterLegal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .FooterLegalInfo {
        width: 50%;
        text-align: center;
    }

    .FooterContentListPrivacy {
        grid-column: 2;
        grid-row: 3;
    }

    .contenedorIcon {
        width: 95vw;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
