* {
    padding: 0px;
    margin: 0px;
}

body{
    width: 1447.2px;
    height: 1147.37px;
    display: flex;
    justify-content: space-around; 
    margin-left: 450px;

}

p{
    color: rgb(72, 72, 72);
    width: 100%;
    padding: 10px 0px;
}

h3{
    color: rgb(72, 72, 72);
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
}

h4 {
    color: rgb(72, 72, 72);
    padding: 10px 0px;
    width: 100%;
}

img {
    border-radius: 10px;
    transition: all 0.6s ease;
    width: 100%;
}

img:hover{
    transition: all 0.6s ease;
    filter: brightness(70%);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "uno uno dos dos"
    "uno uno dos dos"
    "tres cuatro cinco seis"
    "see_all none none none" ;
    width: 1143.99px;
    height: 1051.37px;
    padding: 48px 0px;
}

#titulo {
    grid-area: titulo;
    font-weight: bold;
    font-size: large;
    color: rgb(72, 72, 72);
    width: 70.8px;
    height: 37.78px;
}

#uno {
    grid-area: uno;
    width: 555.99px;
    height: 547.89px;
}

#dos {
    grid-area: dos;
    width: 555.99px;
    height: 547.89px;
}

#tres {
    grid-area: tres;
    width: 261.99px;
    height: 321.74px;
}

#cuatro {
    grid-area: cuatro;
    width: 261.99px;
    height: 321.74px;
}

#cinco{
    grid-area: cinco;
    width: 261.99px;
    height: 321.74px;
}

#seis{
    grid-area: seis;
    width: 261.99px;
    height: 321.74px;
}

.see_all{
    background-color: rgb(230, 0, 18);
    border: none;
    color: #FFFFFF;
    font-weight: bold; 
    border-radius: 5px;
    grid-area: see_all;
    width: 251.18px;
    height: 48.39px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.see_all:hover {
    color: #FFFFFF;
    transition: 0.6s;
}

svg {
    margin: 0px 16px 0px 0px;
}

.read_more {
    color: rgb(230, 0, 18);
    border: none;
    border-bottom: 2px rgb(230, 0, 18)solid;
    background-color: white;
    font-weight: bold;
}