* 
{
    padding: 0px;
    margin: 0px;
    font-family: "Nintendo";
    line-height: 1.4;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nintendo";
    src: url(MuseoSans_700.ttf);
}


.section_general_news
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    padding: 48px 0px;  
    position: relative;
}

.section_news{
    height: 100%;
    width: 100%;
}

.news_tittle  p, h3{
    color: rgb(72, 72, 72);
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.news_tittle button {
    height: 100%;
}

h3
{
    color: rgb(72, 72, 72);
    font-weight: bold;
    width: 100%;
    height: 50%;
    padding-top: 20px;
}

.fecha_news {
    padding-top: 10px;
    color: rgb(72, 72, 72);
    height: 100%;
    width: 100%;
}

h4 
{
    color: rgb(72, 72, 72);
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

img 
{
    border-radius: 10px;
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
}

.contenedor_news:hover img
{
        transition: all 0.6s ease;
        filter: brightness(70%);
        .red:hover{
            color:  rgb(230, 0, 18);
        }    
}  
    
.contenedor_news:hover .red_news
{
        color:  rgb(230, 0, 18);
}
    
.contenedor_news:hover .read_more_news
{
        color: darkred;
        border-bottom-color: darkred ;
}

.contenedor_news
{
    width: 100%;
}

#grid-container_news 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "card1 card1 card2 card2"
    "card1 card1 card2 card2"
    "card3 card4 card5 card6"
    "boton none none none" ;
    width: 1143.99px;
    height: 1051.37px;
    gap: 30px;
    margin: 0 auto;
}

#titulo_news 
{
    grid-area: titulo;
    font-weight: bold;
    font-size: large;
    color: rgb(72, 72, 72);
    width: 70.8px;
    height: 37.78px;
}

#card1_news 
{
    grid-area: card1;
    width: 100%;
    height: 547.89px;
}

#card2_news
{
    grid-area: card2;
    width: 100%;
    height: 547.89px;
}

#card3_news
{
    grid-area: card3;
    width: 100%;
    height: 321.74px;
}

#card4_news
{
    grid-area: card4;
    width: 100%;
    height: 321.74px;
}

#card5_news
{
    grid-area: card5;
    width: 100%;
    height: 321.74px;
}

#card6_news
{
    grid-area: card6;
    width: 100%;
    height: 321.74px;
}

.recuadro_see_all_news {
    display: block;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.boton_see_all_news
{
    background-color: rgb(230, 0, 18);
    border: none;
    color: #FFFFFF;
    font-weight: bold; 
    border-radius: 5px;
    grid-area: boton;
    width: 251.18px;
    height: 48.39px;
    text-align: center; 
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red_news {
    width: 100%;
    height: 100%;
}

.news_tittle 
{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    height: 7rem;
    height: 100%;
}

@keyframes animacion_boton 
{
    0%   {transform:scale(1.0)}
    25%  {transform:scale(1.09)}
    50%  {transform:scale(1.05)}
    100% {transform:scale(1.09)}  
}

.boton_see_all_news:hover 
{
    animation: animacion_boton 0.4s linear;
    animation-fill-mode: forwards;
    filter: brightness(70%);
}

svg {
    margin: 0px 16px 0px 0px; 
    width: 20px;
    height: 20px;
}

.boton_see_all_text_news {
    display: inline-flex;
}

.read_more_news 
{
    color: rgb(230, 0, 18);
    border: none;
    border-bottom: 2px rgb(230, 0, 18)solid;
    background-color: white;
    font-weight: bold;
    padding-top: 15px;
    height: 100%;
}


@media (min-width: 1029px) and (max-width: 1132px) {
    
    #grid-container_news 
    {
        height: 1051.37px;
        gap: 30px;
        max-width: calc(100% - 30px); 
    }
} 

@media only screen and (min-width:768px) and (max-width:1029px)
{

    .section_general_news {
        max-width: 1029px;
    }


    #grid-container_news 
    {
        height: 1051.37px;
        gap: 30px;
        max-width: calc(100% - 30px); 
    }

    .boton_see_all_news
    {
        background-color: rgb(230, 0, 18);
        border: none;
        color: #FFFFFF;
        font-weight: bold; 
        border-radius: 5px;
        grid-area: boton;
        width: 100%;
        height: 48.39px;
        display: block;
        position: absolute;
    }
}

@media (max-width: 820px) {
    .read_more_news {
        margin-top: 20px;
    }
}

@media only screen and (min-width:320px) and (max-width:768px)
{
    
    .section_general_news {
        max-width: 768px;
    }

    #grid-container_news 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "titulo titulo"
        "card1 card1"
        "card2 card2"
        "card3 card4"
        "card5 card6"
        "boton boton" ;
        max-width: calc(100% - 30px); 
        height: 100%;
    }
    
    .boton_see_all_news
    {
        background-color: rgb(230, 0, 18);
        border: none;
        color: #FFFFFF;
        font-weight: bold; 
        border-radius: 5px;
        grid-area: boton;
        width: 100%;
        height: 48.39px;
        display: block;
        position: absolute;  
    }
}